function handle_frame 4
  // point THAT to next frame buffer
  push constant 2080
  pop pointer 1

  push constant 0
  pop local 0 // wordidx

  label start_loop
    push local 0 // wordidx
    push constant 32
    eq
    if-goto end_loop

    push constant 0
    pop local 1 // bitidx

    push constant 0
    pop local 2 // word

    push constant 1
    pop local 3 // mask

    label start_inner_loop
      push local 1 // bitidx
      push constant 16
      eq
      if-goto end_inner_loop

      push local 0 // wordidx
      push local 1 // bitidx
      call get_next_state 2
      push local 3 // mask
      and
      push local 2 // word
      or
      pop local 2 // word

      // shift mask
      push local 3
      push local 3
      add
      pop local 3

      // bitidx++
      push local 1
      push constant 1
      add
      pop local 1
      goto start_inner_loop
      label end_inner_loop

    push local 2 // word
    pop that 0

    push pointer 1
    push constant 1
    add
    pop pointer 1

    push local 0 // wordidx
    push constant 1
    add
    pop local 0
    goto start_loop
    label end_loop

  call copy_next_buffer 0
  pop constant 0

  call draw_from_compact_representation 0
  return
