// static 0 is timer
// static 1 is key_update_pointer


function handle_key_change 0
  call update_compact_representation 0
  pop constant 0

  // initialize key_update_pointer
  push static 1
  push constant 0
  eq
  if-goto initialize_key_update_pointer
  goto after_initialize_key_update_pointer
  label initialize_key_update_pointer
  push constant 2048
  pop static 1
  label after_initialize_key_update_pointer

  push static 1
  push constant 1
  add
  pop static 1

  push static 1
  push constant 2080
  eq
  if-goto reset_key_update_pointer
  goto call_draw_from_compact_representation
  label reset_key_update_pointer
  push constant 2048
  pop static 1

  label call_draw_from_compact_representation
  call draw_from_compact_representation 0
  return

function update_compact_representation 0
  // set THIS
  push static 1
  pop pointer 0

  push static 0 // timer value
  pop this 0

  push constant 0
  return

function increment_timer 0
  push static 0
  push constant 1
  add
  pop static 0

  push constant 0
  return
