function somefile.add 0
  push argument 0
  push argument 1
  add
  return

function somefile.fibonacci 0
  // if n == 0, return 0
  push argument 0
  push constant 0
  eq
  if-goto return_zero

  // if n == 1, return 1
  push argument 0
  push constant 1
  eq
  if-goto return_one

  // else, compute fibonacci(n - 1)
  push argument 0
  push constant 1
  sub // n - 1
  call somefile.fibonacci 1
  push argument 0
  push constant 2
  sub // n - 2
  call somefile.fibonacci 1
  add
  return

  label return_zero
  push constant 0
  return

  label return_one
  push constant 1
  return

function Sys.init 0
  push constant 10
  call somefile.fibonacci 1