function Sys.init 3
  push constant 0
  pop local 0 // timer

  push constant 0
  pop local 1 // prevkey

  push constant 0
  pop local 2 // currentkey

  // THIS is screen
  push constant 16384
  pop pointer 0

  // THAT is keyboard
  push constant 24576
  pop pointer 1

  label start
    // increment timer
    push local 0
    push constant 1
    add
    pop local 0

    // set currentkey
    push that 0
    pop local 2

    // check if key changed
    push local 1
    push local 2
    eq
    not
    if-goto handle_key_change
  goto start

  label handle_key_change
    // set key local
    push that 0
    pop local 1

    // show output on screen
    push local 0
    pop this 0

    // increment screen pointer
    push constant 1
    push pointer 0
    add
    pop pointer 0
  goto start
