// static 0 is screen pointer

function draw_from_compact_representation 1
  push constant  // screen base
  push constant 15 // ?
  add
  pop static 0

  push constant 2048
  pop local 0 // base of row within compact representation

  label start_loop
    push local 0
    push constant 2080
    eq
    if-goto end_loop

    push local 0
    call draw_row_from_compact_representation 1
    pop constant 0

    push static 0
    push constant 512
    add
    pop static 0

    push local 0
    push constant 2
    add
    pop local 0

    goto start_loop
    label end_loop

  push constant 0
  return

function draw_row_from_compact_representation 1
  push static 0
  pop local 0

  push argument 0
  call draw_half_row 1
  pop constant 0

  push static 0
  push constant 16
  add
  pop static 0

  push argument 0
  push constant 1
  add
  call draw_half_row 1
  pop constant 0

  // rewind screen pointer
  push local 0
  pop static 0

  push constant 0
  return

function draw_half_row 2
  push static 0
  pop local 1

  push argument 0
  pop pointer 0

  push constant 1
  pop local 0 // mask

  label start_loop
    push local 0
    push constant 0
    eq
    if-goto end_loop

    push this 0
    push local 0
    and
    push local 0
    eq
    call draw_square 1
    pop constant 0

    push static 0
    push constant 1
    sub
    pop static 0

    push local 0
    push local 0
    add
    pop local 0

    goto start_loop
    label end_loop

  // rewind screen pointer
  push local 1
  pop static 0

  push constant 0
  return

// draw square, without moving screen pointer
function draw_square 1
  push static 0
  pop pointer 0

  push constant 0
  pop local 0
  label start_loop
    push local 0
    push constant 16
    eq
    if-goto end_loop

    push argument 0
    pop this 0

    push pointer 0
    push constant 32
    add
    pop pointer 0

    push local 0
    push constant 1
    add
    pop local 0

    goto start_loop
    label end_loop

  push constant 0
  return
