function copy_next_buffer 0
  push constant 2048
  pop pointer 0

  push constant 2080
  pop pointer 1

  label start_loop
    push pointer 0
    push constant 2080
    eq
    if-goto end_loop

    push that 0
    pop this 0

    push pointer 0
    push constant 1
    add
    pop pointer 0

    push pointer 1
    push constant 1
    add
    pop pointer 1

    goto start_loop
    label end_loop

  push constant 0
  return

function is_even 0
  push argument 0
  push constant 1
  and
  push constant 1
  eq
  not
  return
