* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282a36;
}

code {
  color: #f8f8f2;
  white-space: pre;
  flex-basis: content;
  border: 1px solid #6272a4;
  padding: 10px;
  height: 100vh;
  overflow-y: auto;
}

div#main {
  display: flex;
  flex-direction: row;
}

code > span {
  cursor: pointer;
}

code > span.highlighted {
  color: #282a36;
  background-color: #50fa7b;
}
