* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282a36;
}

.code-panel {
  min-height: 0;
  overflow-y: auto;
  padding: 10px;
  flex: auto;
  position: relative;
}

code {
  color: #f8f8f2;
  white-space: pre;
  border: 1px solid #6272a4;
}

#root,
.panel-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.footer {
  justify-content: space-around;
  padding: 3px 10px;
  height: 22px;
  color: #50fa7b;
  flex: 0 0 auto;
  display: flex;
}

.footer-item {
  flex: 1;
}

code > span {
  cursor: pointer;
}

code > span.selected {
  color: #282a36;
  background-color: #ff79c6;
}

code > span.highlighted {
  color: #282a36;
  background-color: #f8f8f2;
}

code > span.highlighted.selected {
  color: #282a36;
  background-color: #fcb9dc;
}

fieldset {
  flex: 1;
  border: 1px solid #6272a4;
  font-family: monospace;
  color: #f8f8f2;
}

fieldset label {
  padding: 0 10px;
}

fieldset input {
  display: none;
}

fieldset label:hover {
  cursor: pointer;
  outline: 1px solid #f8f8f2;
}

input:checked + label {
  background-color: #f8f8f2;
  color: #282a36;
}
