<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="main">
      <code id="jack-code"></code>
      <code id="vm-commands"></code>
    </div>
  </body>
</html>
